<html>
<head>
	<title>Task Management</title>
</head>
<body>



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	<script src="http://canjs.com/release/latest/can.jquery.js"></script>
	<script src="http://canjs.com/release/latest/can.fixture.js"></script>
	<script src="http://canjs.com/release/latest/can.map.attributes.js"></script>
	<script src="http://canjs.com/release/latest/can.ejs.js"></script>

	<script src="js/app.js"></script>
	<script src="js/modelTask.js"></script>
	<script src="js/modelList.js"></script>
	<script src="js/modelBoard.js"></script>
	<script src="js/view.js"></script>
	<script src="js/controller.js"></script>

	<script type="text/ejs" id="boardsEJS">
		<% this.each(function(board){ %>
			<div>
				<h1><%= board.attr('name') %></h1>

				<% if(board.lists) {board.lists.each(function(list){ %>
					<div>
						<h2><%= list.attr('name') %></h2>
					</div>
				<% }) }%>


			</div>
		<% }) %>
	</script>

</body>
</html>